@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #2a2a57;
  background-image: linear-gradient(90deg, #4d4d6d 0%, #2a2a57 100%);
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.background-canvas {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

canvas {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9) inset;
}

.hidden {
  display: none;
}
